<ion-content>
  <ion-text color="primary">
    <h2>Inicio de sesion</h2>
  </ion-text>
  <form>
    <ion-list>
      <ion-item>
        <ion-icon item-start></ion-icon>
        <ion-label stacked>Usuario:</ion-label>
        <ion-input type="text" placeholder="usuario"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon item-start></ion-icon>
        <ion-label stacked>Contraseña:</ion-label>
        <ion-input type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
    </ion-list>
    <div padding>
      <ion-button color="primary" size="small" type="submit">Ingresar</ion-button>
    </div>
  </form>
  <ion-button>
    <ion-icon expand="block" slot="start" size="large" name="logo-facebook"></ion-icon>
    Facebook
  </ion-button>
  <ion-button>
    <ion-icon expand="block" slot="start" size="large" name="logo-googleplus"></ion-icon>
    Google
  </ion-button>


</ion-content>